<p>
  <strong>Sender:</strong>
  <%= nachricht.sender %>
</p>

<p>
  <strong>Inhalt:</strong>
  <%= nachricht.inhalt %>
</p>

<p>
  <%= link_to 'Nachricht löschen', [nachricht.vorgang, nachricht],
               method: :delete,
               data: { confirm: 'Sind Sie sicher?' } %>
</p>
