<p>
  <strong>Referenz:</strong>
  <%= @vorgang.referenz %>
</p>

<p>
  <strong>Angaben:</strong>
  <%= @vorgang.angaben %>
</p>

<%= link_to 'Bearbeiten', edit_vorgang_path %>
<%= link_to 'Zurück', vorgaenge_path %>
